<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Android.Appium.AppiumLocators"/>
      <class name="Android.Appium.MobileBrowserTest"/>
      <class name="Android.Appium.CartScenario"/>
      <class name="Android.Appium.wifiSettingMethod_dataJSON"/>
      <class name="Android.Appium.wifisettingtestmethod"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
